div.fadenav {
	position: absolute;
	top: 15px;
	right: 800px;
	height: 33px;
	width: 179px;
	padding-top: 14px;
	margin: auto;
	padding-left: 22px;
}
div.fadenav a { display: block; background: #663333; width: 8px; 
height: 8px; margin: 0 0 0 5px; float: left; overflow: hidden; -moz-border-radius: 50%; 
-webkit-border-radius: 50%; border-radius: 50%; }
div.fadenav a:hover { text-decoration: none; }
div.fadenav a.current { background: #fff; }

